<header class="site-header">
    <div class="container">
        <div class="header-content">
            <a href="/" class="logo">
                <img src="/public/images/logo.jpg" alt="KwikInvoice" class="logo-image">
                <span class="logo-text">KwikInvoice</span>
            </a>
            
            {% include "partials/nav.njk" %}
        </div>
    </div>
</header>
