<nav class="main-nav">
    <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/privacy-policy">Privacy</a></li>
        <li><a href="/terms-of-service">Terms</a></li>
    </ul>
</nav>
